@import '~leaflet/dist/leaflet.css';

.form-group.required label:not(:empty):not(.no-required)::after {
    content: ' *';
    color: #ff0000;
}

.leaflet_map {
    height: 350px;
}

.app-header .navbar-brand {
    width: 250px;
    justify-content: left;
    padding: 0 2.25rem;
    font-size: 1.4rem;
    opacity: .8;
}
